@inherits LayoutComponentBase

<MedLab_Demo1.Pages.Registrations>
<div class="main">
    <div class="top-row px-4" >
        <img src="assets/MedLabLogo.png" height="120">
    </div>
    <div class="content px-4">
        @Body
    </div>
    <div class="bottom-row px-4" >
        <div class="row">
            <div class="col-sm-10"></div>
            <div class="col-sm-2 right">
                <div class="row" style="margin-left:5px; font-size: 10px; ">POWERED BY</div>
                <div class="row">
                    <img class="right" src="assets/streetcred.png" height="60">
                </div>
            </div>
        </div>
    </div>
</div>
</MedLab_Demo1.Pages.Registrations>
