@page "/credential/{verificationResponseId}"
@inherits CredentialBase

<div class="row">
    <div class="col-sm-6">
        <h3>Verify your identity via Streetcred ID App</h3>
        <p>Open your Streetcred ID app and select “scan code”.</p>
        <p>Scan the code here to verify to the MedLab you are a person. Once this verification is valid, MedLab can send you credentials.</p>
        <p>Click "Continue" once you've verified you are a person.</p>
        <div style="text-align: center;">
            @if(credentialContract != null)
            {
                <QrImage ImageData="@credentialContract.OfferUrl"></QrImage>
            }
            else{
                <p>If you haven't verified you are a person, the credential QR will not appear here.</p>
            }
        </div>   
    </div>
    <div class="col-sm-3" style="text-align: center;">
        <img src="assets/Scan_Image.png" width="300">
    </div>
    <div class="col-sm-3" style="text-align: center;">
        <img src="assets/Credential_Details.png" width="300">
    </div>
  </div>