  <div class="row" style="padding-right:10px;">
    <div class="col-sm-7">
      <h3>Welcome to the MedLab Demo</h3>
      <p>Featuring the Streetcred ID self-sovereign identity system</p>
      <p>Streetcred’s identification process serves as a trusted source of information and digital identity. This system creates transparent experience for all essential work processes during the COVID-19 crisis.</p>
      <ul>
          <li>Improve identity and safety confidence.</li>
          <li>Eliminates redundant data submission through the transaction process.</li>
          <li>Transaction time efficiency.</li>
          <li>Verify and securely connect service providers.</li>
      </ul>
      <button class="button-blue"><a href="/verify" class="button-text">Get Started</a></button>
    </div>
    <div class="col-sm-5" style="padding-top:8px;">
      <div class="step-box">
          <h3 style="padding-top: 17px;">Present Verified Person Credential</h3>
      </div>
      <div style="width: 300px; text-align:center;">
          <img src="assets/Arrow.png" style="margin: 26px;" width="20">
      </div>
      <div class="step-box">
          <h3 style="padding-top: 17px;">Get a Covid-19 Credential</h3>
      </div>
    </div>
  </div>