  <div class="row" style="padding-right:10px;">
    <div class="col-sm-7">
      <h3>Welcome to the MedLab</h3>
      <p>We will use your digital wallet to give you a COVID-19 credential. This process showcases the power of verifiable credentials.</p>
      <button class="button-blue"><a href="/verify" class="button-text">Get Started</a></button>
    </div>
    <div class="col-sm-5" style="padding-top:8px;">
      <div class="step-box">
          <h3 style="padding-top: 17px;">Present Verified Person Credential</h3>
      </div>
      <div style="width: 300px; text-align:center;">
          <img src="assets/Arrow.png" style="margin: 26px;" width="20">
      </div>
      <div class="step-box">
          <h3 style="padding-top: 17px;">Get a COVID-19 Credential</h3>
      </div>
    </div>
  </div>